

@using LearnItAll.Models.Skillblueprints
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer localizer
@*

	READ ME
	About this Partial View


	Before changing ids, names, the element hierarchy, etc, consider the impacted javascript functions 
	and events declared on "CreateBlueprint.cshtml", as those scripts are heavily dependant on 
	the current structure of this page.

	This page is used everytime the user creates a Skill Blueprint or ANY of it's nodes, in a recursive 
	fashion, to create a three that represents all nodes and make it possible to the user to create 
	child nodes on any part of the three. Any inline JS or CSS declared in this page will be repeated for 
	every node present on the three, creating a mess.

	DO NOT declare any inline CSS or JS in this file.
*@

@model PartDetail
@{
	if(@Model == null) return; //to shutup the compiler error regarding possible null
}

		
	<li id="delete-part_@Model.Part.Id" class="list-group-item p-0">
			<div class="row justify-content-md-right row-cols-2">
				@if(Model.IsRoot)
				{
					<div class="col-sm-6">
							<div  hx-boost="true"
							    hx-target="#delete-part_@Model.Part.Id"
							    hx-swap="outerHTML swap:1s"  hx-confirm="@localizer["Are you sure? It will delete the whole Blueprint."]">
												<form asp-page-handler="DeleteBlueprint" Method="post" id="form-delete_@Model.Part.Id" >
															<input  name="DeleteBlueprintModel.BlueprintId" id="DeleteBlueprintModel.BlueprintId_@Model.Part.ParentId" value=@Model.BlueprintId class="form-control" type="hidden" >
															<div class="input-group">
																<button type="submit" class="btn btn-outline-secondary bg-danger" ><i class="bg-danger bi bi-trash text-white"></i></button>
																<div readonly class="form-control fw-bold text-break">@Model.Part.Name</div>
															</div>											
												</form>
							</div>
					</div>
				}
				else
				{
					
					<div class="col-sm-6">
							<div  hx-boost="true"
							    hx-target="#delete-part_@Model.Part.Id"
							    hx-swap="outerHTML swap:1s"  hx-confirm="@localizer["Are you sure?"]">
												<form asp-page-handler="Delete" Method="post" id="form-delete_@Model.Part.Id" >
															<input  name="DeletePartModel.PartId" id="DeletePartModel_PartId_@Model.Part.Id" value=@Model.Part.Id class="form-control" type="hidden" >
															<input  name="DeletePartModel.BlueprintId" id="DeletePartModel.BlueprintId_@Model.Part.Id" value=@Model.BlueprintId class="form-control" type="hidden" >
															<div class="input-group">
																<button type="submit" class="btn btn-outline-secondary bg-danger" ><i class="bg-danger bi bi-trash text-white"></i></button>
																<div readonly class="form-control fw-bold text-break">@Model.Part.Name</div>
															</div>											
												</form>
							</div>
					</div>
				}
				<div class="col-sm-6">
					<div  hx-boost="true"
							hx-indicator="#add-spinner_@Model.Part.Id"
					        hx-target="#children_@Model.Part.Id"
					        hx-swap="afterbegin settle:1s"
							class="btn-space">
											<form asp-page-handler="Add" method="post" id="form-@Model.Part.Id" >
													<div class="input-group">
														<i class="bi bi-arrow-return-right input-group-text d-none d-lg-block"></i>
														<input	name="AddPartModel.Name" id="AddPartModel_Name-@Model.Part.Id" class="form-control" oninput=resetErrorMessageForPartNameOnFocus(this) onfocus=resetErrorMessageForPartNameOnFocus(this) placeholder="@localizer["Add a child node"]">
														<input  name="AddPartModel.ParentId" id="AddPartModel_ParentId_@Model.Part.Id" value=@Model.Part.Id class="form-control" type="hidden" >
														<input  name="AddPartModel.BlueprintId" id="AddPartModel.BlueprintId_@Model.Part.Id" value=@Model.BlueprintId class="form-control" type="hidden" >
														<button type="submit" onsubmit=resetErrorMessageForPartNameOnFocus(this) class="btn btn-outline-primary bg-primary">
														<i class="bi bi-plus-circle bg-primary text-white"></i>
														</button>
													</div>
											<small hidden class="text-danger">@localizer["ooops! Something went wrong. Please try again."]</small>
											</form>
						<div id="add-spinner_@Model.Part.Id" class="spinner-border spinner-border-sm htmx-indicator" role="status" aria-hidden="true"></div>
					</div>
						<!-- Button shows the modal -->
						<button id="open-modal-AddPartModel_Name-@Model.Part.Id" type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#modal-AddPartModel_Name-@Model.Part.Id">
						  @localizer["Add multiple"]
						</button>
				</div>
			</div>
					
						
						<!-- Modal -->
						<div class="modal fade" id="modal-AddPartModel_Name-@Model.Part.Id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="title-AddPartModel_Name-@Model.Part.Id" aria-hidden="true">
						  <div class="modal-dialog">
							<div class="modal-content">
							  <div class="modal-header">
								<h5 class="modal-title" id="title-AddPartModel_Name-@Model.Part.Id">@localizer["Adding multiple children to"] <span class="fw-bold">@Model.Part.Name</span></h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="@localizer["Close"]"></button>
							  </div>
							  <div name="modal-body" class="modal-body">
								@{
									var localId = Guid.NewGuid().ToString();
									var localSpinnerId = "spinner_" + localId;
								}
									<div id="@localSpinnerId" class="spinner-border spinner-border-sm htmx-indicator" role="status" aria-hidden="true">
									</div>
									@*
									#row1 below serves as a template for the current modal. it will be duplicated for every item a user 
									drags and drops into the input field of above form.
									Check eventlistener drop from CreateBlueprint.cshtml for more details.
									*@

									 <div name="modal-form-row"  id="row1" class="row row-cols-1 d-none">
										  <div class="col-sm-12">
												<div  hx-boost="true"
														hx-target ="#children_@Model.Part.Id"
														hx-indicator="#@localSpinnerId"
														hx-swap="afterbegin">
															<form asp-page-handler="Add" method="post" >
																	<div class="input-group">
																		<i class="bi bi-arrow-return-right input-group-text d-none d-lg-block"></i>
																		<input	name="AddPartModel.Name"  class="form-control" oninput=resetErrorMessageForPartNameOnFocus(this) onfocus=resetErrorMessageForPartNameOnFocus(this) placeholder="@(localizer["Add a child node"])">
																		<input  name="AddPartModel.ParentId"  value=@Model.Part.Id class="form-control" type="hidden" >
																		<input  name="AddPartModel.BlueprintId" value=@Model.BlueprintId class="form-control" type="hidden" >
																		<button name="submit-part" onsubmit=resetErrorMessageForPartNameOnFocus(this) disabled type="submit" class="btn btn-outline-secondary">
																		<i class="bi bi-plus-square-fill"></i>
																		</button>
																	</div>
																	<small hidden class="text-danger">@localizer["ooops! Something went wrong. Please try again."]</small>
															</form>
												</div>
										</div>
									</div>
							  </div>
							  <div class="modal-footer">
									<div name="modal-form-submit-all" id="modal-form-submit-all_@Model.Part.Id" class="row row-cols-1">
										<div>
											<div hx-boost="true"
												 hx-target="#children_@Model.Part.Id"
												 hx-indicator="#@localSpinnerId"
												 hx-swap="afterbegin">
												<form asp-page-handler="AddMany" method="post" name="form-add-many-names">
														<div class="input-group" name="add-many-names">
														<input name="AddManyPartsModel.ParentId" value=@Model.Part.Id class="form-control" type="hidden">
														<input name="AddManyPartsModel.BlueprintId" value=@Model.BlueprintId class="form-control" type="hidden">
													</div>
													<small hidden class="text-danger">@localizer["ooops! Something went wrong. Please try again."]</small>
												<button type="button" onclick=addAllPartsSingleRequest(this) class="btn btn-primary">@localizer["Add all shown"]</button>										
												</form>
											</div>
										</div>
									</div>
								<button id="close-modal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">@localizer["Close"]</button>
							  </div>
							</div>
						  </div>
						</div>
		<ul id="children_@Model.Part.Id" class="list-group-flush">
		</ul>
	</li>
		
